.row {
    padding: 50px 0px 0px;
}

.step {
    margin-right: 50px;
    position: relative;
    padding-right: 10%;
    background: white;
}

.has-connector {
    position: relative;
    display: block;
}

.page-link {
    position: relative;
}

.has-connector .page-link::after {
    content: "";
    display: block;
    background: black;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
}

.has-connector-bottom .page-link::after {
    bottom: -5px;
}
.has-connector-top .page-link::after {
    top: -5px;
}

.has-connector-color-1 .page-link::after {
    background: green;
}
.has-connector-color-2 .page-link::after {
    background:red;
}

.has-connector svg {
    width: 50px;
    height: 5px;
    position: absolute;
    left: 100%;
    top: 18px; 
}

.flow-connector-nav {
    position: absolute;
    top: 50px;
    left: 97%;
    height: 100%;
}